@charset "utf-8";

.s-icon-tips {
  fill: currentColor;
}
.icon-tips--alert {
  color: #ff6923;
}
.icon-tips--info {
  color: #23b8ff;
}
.icon-tips--question {
  color: #23b8ff;
}
.icon-tips--ok {
  color: #00d798;
}
.icon-tips--s {
  width: 16px;
  height: 16px;
}
.icon-tips--m {
  width: 20px;
  height: 20px;
}
.icon-tips--l {
  width: 24px;
  height: 24px;
}
.icon-tips--xl {
  width: 32px;
  height: 32px;
}
.icon-tips--xxl {
  width: 48px;
  height: 48px;
}

.s-msg-tips {
  display: flex;
}

.s-msg-tips .s-icon-tips {
  margin-right: 5px;
  flex-shrink: 0;
}

.s-msg-tips .msg-tips-txt {
  line-height: 16px;
  font-size: 12px;
}

.s-msg-tips--m .msg-tips-txt {
  font-size: 14px;
  line-height: 20px;
}

.s-msg-tips--l .msg-tips-txt {
  font-size: 16px;
  line-height: 24px;
}

.s-msg-tips--l .msg-tips-sub-txt {
  color: #777;
}

.s-msg-tips--xl .msg-tips-txt {
  font-size: 16px;
  line-height: 24px;
}

.s-msg-tips--xl .msg-tips-sub-txt {
  color: #777;
}

.s-msg-tips.s-msg-tips--s .msg-tips-txt,
.s-msg-tips.s-msg-tips--m .msg-tips-txt {
  position: relative;
}
.s-f-item:not(.s-f-item--vertical) {
  display: flex;
}
.s-f-item:not(.s-f-item--vertical) .s-f-field {
  flex: 1;
}
.s-f-item:not(:last-child) {
  margin-bottom: 20px;
}
.s-f-item .s-f-label {
  width: 100px;
  text-align: right;
  margin-right: 10px;
  line-height: 36px;
}
.s-f-item .s-f-required {
  color: #ff6923;
}
.s-f-item .s-f-field {
  display: flex;
  align-items: center;
}
.s-f-item .s-f-msg {
  margin-left: 10px;
}
.s-f-item .s-f-des {
  margin: 0 0 0 10px;
  color: #bbb;
}
.s-f-item .s-f-suffix {
  margin-left: 5px;
}
.s-f-item .s-f-prefix {
  margin-right: 5px;
}
.s-f-item .s-f-join {
  margin: 0 5px;
}
.s-f-item.s-f-item--error .s-f-msg .msg-tips-txt {
  color: #ff6923;
}
.s-f-item.s-f-item--check-msg-below .s-f-field {
  padding-bottom: 20px;
  position: relative;
}
.s-f-item.s-f-item--check-msg-below .s-f-field .s-f-msg {
  position: absolute;
  left: 0;
  bottom: 0px;
  margin-left: 0;
}
.s-f-item.s-f-item--inline {
  display: inline-flex;
}
.s-f-ele {
  height: 36px;
  padding: 5px;
  border: 1px solid #ddd;
  width: 270px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 14px;
}
.s-f-ele.s-f-ele--error {
  border-color: #ff6923;
}
.s-f-ele[disabled],
.s-f-ele.disabled {
  color: #777;
  background: #f4f4f4;
}
.s-f-ele:not(.disabled):hover,
.s-f-ele:not([disabled]):hover {
  border-color: #777;
}
textarea.s-f-ele {
  height: 80px;
}
.s-btn {
  display: inline-block;
  vertical-align: middle;
  line-height: 36px;
  padding: 0 10px;
  min-width: 80px;
  background: #23b8ff;
  color: #fff;
  text-align: center;
  border-radius: 3px;
}
.s-btn:hover {
  background: #00a4f0;
}
